<h2><%= application.attr('name') %></h2>
<p><%== application.attr('description') %><br><br></p>

<div class="container">
<form id="parameters" class="form-horizontal" action="/api/v2/jobs/submit/<%= application.attr('id') %>" method="POST" enctype="multipart/form-data" novalidate>

<div class="form-group row">
	<label for="job-name" class="col-sm-2 col-form-label">Name</label>
	<div class="col-sm-3">
		<input name="job-name" type="text" value="" class="form-control" placeholder="optional job name"></input>
	</div>
</div>

<hr/>

<% application.attr('params').each(function(param, index) { %>

<% if (param.attr('type') == "separator") { %>
	<!-- Separator -->
	<hr/>
<% } else if (param.attr('type') == "info") { %>
		<!-- Full size label -->
		<p><%== param.attr('description') %></p>

<% } else { %>

<div class="form-group form-row" style="<%= param.visible !== true ? 'display:none':'' %>">
	<!-- Label -->
<div class="col-sm-2">
	<% if (param.attr('type') !== "label" && param.attr('type') !== "checkbox" && param.attr('type') !== "agbcheckbox" && param.attr('type') !== "terms_checkbox") { %>
		<label for="<%= param.attr('id') %>" class="col-form-label"><%== param.attr('description') %></label>
		<% if (param.attr('help')) { %>
			&nbsp;<a href="<%= param.attr('help') %>" target="_blank"><i class="far fa-question-circle"></i></a>
		<% } %>
	<% } %>
</div>
	<% if (param.attr('type') == "label") { %>
			<!-- Label -->
			<div class="col-sm-7">
				<p><%== param.attr('description') %></p>
			</div>
	<% } %>

  <% if (param.attr('type') == "list" || param.attr('type') == "app_list") { %>
		<!-- Combobox -->
		<div class="col-sm-3">
			<select name="<%= param.attr('id') %>" id="<%= param.attr('id') %>" class="form-control" <%= param.attr('required') ? 'required' : '' %> >
				<option value="">-- select an option --</option>
				<% param.attr('values').each(function( item ) { %>
					<option value="<%= item.attr('key') %>" <%= item.attr('key') == param.attr('value') ? "selected" : '' %>>
						<%= item.attr('value') %>
					</option>
				<% }) %>
			</select>
			<% if (param.attr('details')) { %>
				<small class="form-text text-muted"><%== param.attr('details') %></small>
			<% } %>
			<div class="invalid-feedback">
				This parameter is required.
			</div>
		</div>
	<% } %>

	<% if (param.attr('type') == "radio") { %>
		<!-- Radio -->
		<div class="col-sm-3">
				<% param.attr('values').each(function( item, index ) { %>
					<div class="custom-control custom-radio">
					  <input class="custom-control-input" type="radio" name="<%= param.attr('id') %>" id="<%= param.attr('id')+'_'+index %>" value="<%= item.attr('key') %>" <%= param.attr('required') ? 'required' : '' %> <%= item.attr('key') == param.attr('value') ? "checked" : '' %>>
					  <label class="custom-control-label" for="<%= param.attr('id')+'_'+index %>">
							<%= item.attr('value') %>
					  </label>
					</div>
					<% if (index == param.attr('values'). length - 1) { %>
						<% if (param.attr('details')) { %>
							<small class="form-text text-muted"><%== param.attr('details') %></small>
						<% } %>
						<div class="invalid-feedback">
							This parameter is required.
						</div>
					<% } %>
				<% }) %>
		</div>
	<% } %>

	<% if (param.attr('type') == "text" || param.attr('type') == "number" || param.attr('type') == "string" ) { %>
		<!-- Textfield -->
		<div class="col-sm-3">
			<input name="<%= param.attr('id') %>" id="<%= param.attr('id') %>" type ="text" class="form-control" <%= param.attr('required') ? 'required' : '' %> value="<%= param.attr('value') %>">
			<% if (param.attr('details')) { %>
				<small class="form-text text-muted"><%== param.attr('details') %></small>
			<% } %>
			<div class="invalid-feedback">
				This parameter is required.
			</div>
		</div>
	<% } %>

	<% if (param.attr('type') == "textarea") { %>
		<!-- Textarea -->
		<div class="col-sm-7">
			<textarea name="<%= param.attr('id') %>" id="<%= param.attr('id') %>" rows="6" class="form-control" <%= param.attr('required') ? 'required' : '' %>><%= param.attr('value') %></textarea>
			<% if (param.attr('details')) { %>
				<small class="form-text text-muted"><%== param.attr('details') %></small>
			<% } %>
			<div class="invalid-feedback">
				This parameter is required.
			</div>
		</div>
	<% } %>


	<% if (param.attr('type') == "checkbox") { %>
		<!-- Checkbox -->
		<div class="col-sm-7">
			<div class="custom-control custom-checkbox">
			<input name="<%= param.attr('id') %>" id="<%= param.attr('id') %>" type ="checkbox" class="custom-control-input"
				<% param.attr('values').each(function( item ) { %> <% if (item.attr('key') == 'false') { %> data-unchecked-value="<%= item.attr('value') %>" <% } %> <% if (item.attr('key') == 'true') { %> value="<%= item.attr('value') %>" <% if (item.attr('value') == param.attr('value')) { %> checked <% } %> <% } %> <% }) %>
			>
			<label class="custom-control-label" for="<%= param.attr('id') %>"><%== param.attr('description') %></label>
			</div>
			<% if (param.attr('details')) { %>
				<small class="form-text text-muted"><%== param.attr('details') %></small>
			<% } %>
		</div>
	<% } %>

	<% if (param.attr('type') == "local_file" || param.attr('type') == "hdfs_file") { %>
		<!-- Single File Upload -->
		<div class="col-sm-3">
			<div class="input-group mb-3">
				<input type ="text" class="form-control file-name-control" disabled>
				<div class="input-group-append">
					<button id="select-single-file-btn" type="button" class="btn btn-sm btn-secondary"><i class="fa fa-folder-open"></i></button>
				</div>
			</div>
			<input type="file" class="form-control file-upload-field-single" name="<%= param.attr('id') %>" id="<%= param.attr('id') %>"
			   <%= param.attr('required') ? 'required' : '' %>
				 <%= param.attr('accept') ? 'accept="'+ param.attr('accept')+'"' : '' %>
				 style="display:none;"
			>
			<% if (param.attr('details')) { %>
				<small class="form-text text-muted"><%== param.attr('details') %></small>
			<% } %>
			<div class="invalid-feedback">
				Please choose one file.
			</div>
		</div>
	<% } %>

	<% if (param.attr('type') == "local_folder" || param.attr('type') == "hdfs_folder") { %>
		<!-- Multiple File Upload -->
		<div class="col-sm-7" <%= (div) -> can.data(div, 'param', param) %>>
			<select class="form-control folder-source" name="<%= param.attr('id') %>-source">
				<option value="upload" selected>File Upload</option>
				<option value="http">URLs (HTTP)</option>
				<option value="sftp">Secure File Transfer Protocol (SFTP)</option>
			</select>
			<div class="form-control file-list-control">
				<ul class="fa-ul file-list">
				</ul>
			</div>
			<% if (param.attr('source') == 'upload') { %>
				<button id="select-files-btn" type="button" class="btn btn-sm btn-secondary"><i class="fa fa-folder-open"></i> Select Files</button>
				<button id="change-files-btn" type="button" class="btn btn-sm btn-secondary" style="display:none;"><i class="fa fa-folder-open"></i> Change</button>
				<button id="remove-all-files-btn" type="button" class="btn btn-sm btn-secondary" style="display:none;"><i class="fa fa-trash"></i> Remove All</button>
				<input class="form-control file-upload-field-multiple" type="file" name="<%= param.attr('id') %>" id="<%= param.attr('id') %>"
					<%= param.attr('required') ? 'required' : '' %>
					<%= param.attr('accept') ? 'accept="'+ param.attr('accept')+'"' : '' %>
				 	style="display:none;" multiple
				>
				<small class="form-text text-muted">Multiple files can be selected by using the  <span class="badge badge-secondary">ctrl</span> /  <span class="badge badge-secondary">cmd</span> or  <span class="badge badge-secondary">shift</span> keys.</small>
				<% } %>
				<% if (param.attr('source') == 'http') { %>
					<button id="add-urls-btn" type="button" class="btn btn-sm btn-secondary"><i class="fas fa-link"></i> Add URLs</button>
					<input name="<%= param.attr('id') %>" id="<%= param.attr('id') %>" type ="text" style="display:none;" class="form-control hidden-parameter" <%= param.attr('required') ? 'required' : '' %> value="<%= param.attr('value') %>">
				<% } %>
				<% if (param.attr('source') == 'sftp') { %>
					<button id="add-sftp-files-btn" type="button" class="btn btn-sm btn-secondary"><i class="fas fa-upload"></i> Import Files</button>
					<input name="<%= param.attr('id') %>" id="<%= param.attr('id') %>" type ="text" style="display:none;" class="form-control hidden-parameter" <%= param.attr('required') ? 'required' : '' %> value="<%= param.attr('value') %>">
				<% } %>
				<% if (param.attr('details')) { %>
					<small class="form-text text-muted"><%== param.attr('details') %></small>
				<% } %>
			<div class="invalid-feedback">
				Please choose one or more files.
			</div>
		</div>
	<% } %>

	<% if (param.attr('type') == "agbcheckbox" || param.attr('type') == "terms_checkbox" ) { %>
		<!-- AGB checkbox. Has to be true before submission. -->
		<div class="col-sm-10">
			<div class="custom-control custom-checkbox">
				<input name="<%= param.attr('id') %>" id="<%= param.attr('id') %>" type ="checkbox" class="agb custom-control-input" required value="accepted" >
				<label class="custom-control-label" for="<%= param.attr('id') %>"><%== param.attr('description') %></label>
				<% if (param.attr('details')) { %>
					<small class="form-text text-muted"><%== param.attr('details') %></small>
				<% } %>
				<div class="invalid-feedback">
					Please agree to the terms and conditions.
				</div>
			</div>
		</div>
	<% } %>

</div>
<% } %>
<% }) %>

<hr/>

<!-- Submit Button -->
<div class="form-group form-row">
	<div class="col-sm-2 col-form-label">
	</div>
	<button class="btn btn-primary" type="submit" data-loading-text="Uploading"><i class="far fa-play-circle"></i> <%= application.attr('submitButton') %></button>
</div>

</form>
</div>
