<h2>Server</h2>

<p>
	This page shows server states and provides administrative tasks.<br>
	<br>
</p>

<h3>Status</h3>

<table class="table table-bordered">

	<tr>
		<td style="width: 400px;">
			<b>Version:</b>
		</td>
		<td>
			<%= cluster.attr('version') %>
			(built by
			<%=	cluster.attr('built_by') %>
			on
			<%= cluster.attr('built_time') %>)
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Mode:</b>
		</td>
		<td>
			<% if (cluster.attr('maintenance')) { %>
				<span class="badge badge-danger"><i class="fas fa-cogs"></i> Maintenance Mode</span>
			<% } else { %>
				<span class="badge badge-success"><i class="fas fa-flag-checkered"></i> Production Mode</span>
			<% } %>
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Queue:</b>
		</td>
		<td>
			<% if (cluster.attr('blocked')) { %>
				<span class="badge badge-danger"><i class="fas fa-pause"></i> Blocked</span>
			<% } else { %>
				<span class="badge badge-success"><i class="fas fa-play"></i> Running</span>
			<% } %>
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Threads Setup Queue:</b>
		</td>
		<td>
			<%= cluster.attr('threads_setup') %>
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Threads Processing Queue:</b>
		</td>
		<td>
			<%= cluster.attr('threads') %>
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Max Jobs per User:</b>
		</td>
		<td><%= cluster.attr('max_jobs_user') %></td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Disk Usage:</b>
		</td>
		<td>
			<div class="progress" style="width: 400px">
			  <div class="progress-bar bg-danger" role="progressbar" style="width: <%== ((cluster.attr('total_disc_space') - cluster.attr('free_disc_space')) / cluster.attr('total_disc_space') * 100) %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				<div class="progress-bar bg-success" role="progressbar" style="width: <%== 100-((cluster.attr('total_disc_space') - cluster.attr('free_disc_space')) / cluster.attr('total_disc_space') * 100) %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>

			<%== cluster.attr('total_disc_space') - cluster.attr('free_disc_space') %>
			GB used,
			<b><%== cluster.attr('free_disc_space') %>
				GB free</b>
		</td>

	</tr>

</table>
<br>
<h3>Resources</h3>

<div class="container"  id="application-repository">
	<div class="row">

		<div class="col-md-12">
			<div class="card mb-12 box-shadow">
				<div class="card-body">


						<% if (cluster.attr('hadoop_enabled')) { %>
							<h5 class="card-title"><i class="fas fa-check-circle text-success"></i> <%= cluster.attr('hadoop_cluster') %></h5>
						<% } else { %>
							<h5 class="card-title"><i class="fas fa-times-circle text-danger"></i> Hadoop Cluster</h5>
						<% } %>


					<% if (cluster.attr('hadoop_enabled')) { %>

						<p>Type: Hadoop<br>
							Status:
						<% if (cluster.attr('hadoop_safemode')) { %>
							<span class="badge badge-important">SAFEMODE!</span>
						<% } else { %>
							<span class="badge badge-success">Running</span>
						<% } %>
					<br>
					JobTracker: <%= cluster.attr('hadoop_jobtracker') %><br>
					Execute as: <%= cluster.attr('hadoop_username') %><br>
					Active Nodes: <%= cluster.attr('hadoop_active_nodes') %>/<%= cluster.attr('hadoop_active_nodes') + cluster.attr('hadoop_inactive_nodes') %><br>
					Map Tasks: <%= cluster.attr('hadoop_map_tasks') %><br>
					Reduce Tasks: <%= cluster.attr('hadoop_map_tasks') %><br></p>
 				<p><span class="float-right btn btn-secondary" id ="hadoop-details-btn">Details</span></p>

					<% } else { %>
						    <%== cluster.attr('hadoop_error') %>
					<% }%>

				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card mb-12 box-shadow">
				<div class="card-body">

					<h5 class="card-title">
						<% if (cluster.attr('r_enabled')) { %>
							<i class="fas fa-check-circle text-success"></i>
						<% } else { %>
							<i class="fas fa-times-circle text-danger"></i>
						<% } %>
						R</h5>

					<% if (cluster.attr('r_enabled')) { %>
							<%== cluster.attr('r_details') %>
					<% } else { %>
					    <%== cluster.attr('r_error') %>
					<% } %>
					</div>
				</div>
		</div>

		<div class="col-md-12">
			<div class="card mb-12 box-shadow">
				<div class="card-body">

					<h5 class="card-title">
						<% if (cluster.attr('rmarkdown_enabled')) { %>
							<i class="fas fa-check-circle text-success"></i>
						<% } else { %>
							<i class="fas fa-times-circle text-danger"></i>
						<% } %>
						RMarkdown</h5>

					<% if (cluster.attr('rmarkdown_enabled')) { %>
							<%== cluster.attr('rmarkdown_details') %>
					<% } else { %>
						  <%== cluster.attr('rmarkdown_error') %>
					<% }%>

				</div>
			</div>
	</div>

		<div class="col-md-12">
			<div class="card mb-12 box-shadow">
				<div class="card-body">

				<h5 class="card-title">
					<% if (cluster.attr('docker_enabled')) { %>
						<i class="fas fa-check-circle text-success"></i>
					<% } else { %>
						<i class="fas fa-times-circle text-danger"></i>
					<% } %>
					Docker</h5>

				<% if (cluster.attr('docker_enabled')) { %>
						<%== cluster.attr('docker_details') %>
				<% } else { %>
					  <%== cluster.attr('docker_error') %>
				<% }%>

					</div>
				</div>
		</div>

	</div>
</div>

<br>
<h3>Database Connection Pool</h3>

<table class="table table-bordered">

	<tr>
		<td style="width: 400px;">
			<b>Active </b><br><i>Number of instances currently borrowed from this pool.</i>
		</td>
		<td>
			<%=  cluster.attr('db_active') %>
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Max active:</b>
		</td>
		<td>
			<%=  cluster.attr('db_max_active') %>
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Idle:</b><br><i>Number of instances currently idle in this pool.</i>
		</td>
		<td>
			<%=  cluster.attr('db_idle') %>
		</td>
	</tr>

	<tr>
		<td style="width: 400px;">
			<b>Max idle:</b>
		</td>
		<td>
			<%=  cluster.attr('db_max_idle') %>
		</td>
	</tr>

</table>

<br>

<br>

<h3>Maintenance Mode</h3>
<p>Maintenance mode is for preventing any users other than administrators from submitting jobs. The front page will appear as normal when your site is in maintenance mode. Users will only see the maintenance mode message when they attempt to submit a job.</p>
<p>
	<i>Note: You can create a customized maintenance mode message by change the MAINTENANCE_MESSAGE variable (see Settings).</i>
</p>
<br>
<p>
	 <% if (cluster.attr('maintenance')) { %>
		 <span class="btn btn-success" id="maintenance-exit-btn"><i class="fas fa-flag-checkered"></i> Exit Maintenance Mode</span>
	<% } else { %>
		<span class="btn btn-danger" id="maintenance-enter-btn"><i class="fas fa-cogs"></i> Enter Maintenance Mode</span>

	<% } %>
</p>

<br>

<br>

<h3>Queue</h3>
<p>Blocks the queue. All running jobs are executed and all other jobs are waiting until the queue is manually opened.</p>
<br>
<p>
	 <% if (cluster.attr('blocked')) { %>
		 <span class="btn btn-success" id ="queue-open-btn"><i class="fas fa-play"></i> Open Queue</span>
	<% } else { %>
		<span class="btn btn-danger" id ="queue-block-btn"><i class="fas fa-pause"></i> Block Queue</span>
	<% } %>
</p>

<br>

<br>

<h3>Auto Retire</h3>
<p>Retires old jobs and send notifications.</p>
<br>
<p>
	<span class="btn btn-primary" id="retire-btn"><i class="fas fa-trash"></i> Start Retire</span>
</p>
