
<%
var next = 1;
var prev = 1;
var maxPages = Math.floor(total / perPage);
if (total % perPage > 0){
	maxPages++;
}
var from = (page-1)*perPage+1;
var to = page*perPage;
if (to > total){
    to = total;
}
if(page <= 1) { prev = 0; }
if(total <= 0 || page >= maxPages)  { next = 0; }
%>

<div class="mx-auto">
	<ul class="mx-auto pagination">
    <li class="<%= page == 1  ? 'page-item disabled' : 'page-item' %>">
      <a class="page-link" href="<%= link %>/<%= page - prev %>" aria-label="Previous">
        <span aria-hidden="true">&larr; Previous</span>
      </a>
    </li>
    <% for (i = 3; i > 0; i--){ %>
    	<% if (parseInt(page) - i > 0){ %>
    		<li><a class="page-link" href="<%= link %>/<%= page - i %>"><%= page - i %></a></li>
    	<% } %>
    <% } %>
    <li class="page-item active"><a class="page-link" href="<%= link %>/<%= page %>"><%= page %></a></li>
    <% for (i = 1; i <= 3; i++){ %>
    	<% if (page + i <= maxPages){ %>
    		<li><a class="page-link" href="<%= link %>/<%= page +i %>"><%= page + i %></a></li>
    	<% } %>
    <% } %>
    <li class="<%= page == maxPages  ? 'page-item disabled' : 'page-item' %>">
      <a class="page-link" href="<%= link %>/<%= page + next %>" aria-label="Next">
        <span aria-hidden="true">Next &rarr;</span>
      </a>
    </li>
  </ul>
</div>
<br><br>
