<h2><a href="#!pages/admin-apps">Applications</a> / apps.cloudgene.io</h2>

<p><b><%= applications.length %></b> applications published in <a href="http://apps.cloudgene.io" target="_blank">apps.cloudgene.io</a></p>
<br><br>
<div class="container"  id="application-repository">
	<div class="row">
		<% applications.each(function( app ) { %>
		<div class="col-md-4">
	    <div class="card mb-4 box-shadow">
	      <div class="card-body">
	        <h5 class="card-title"><a href="<%= app.attr('details') %>" target="_blank"><%= app.attr('title') %></a>&nbsp;<small><%= app.attr('version') %></small></h5>
	        <div style="height: 150px;">
	        <p class="card-text"><%= app.attr('description_short') %></p>
	        </div>
	        <div class="d-flex justify-content-between align-items-center">
	          <div>
							<% app.attr('authors').each(function( author ) { %>
							<img src="<%= author.attr('avatar') %>" title="<%= author.attr('name') %>"/>
							<% }) %>
	          </div>
						<% if (installedId.includes(app.attr('id'))){ %>
							<a class="btn btn-default disabled">Installed</a>
						<% } else { %>
							<button type="button" class="install-app-btn btn btn-success" data-app-url="<%= app.attr('package_url') %>" data-app-id="<%= app.attr('id') %>"><i class="fas fa-download"></i> Install</button>
						<% } %>
	        </div>
	      </div>
	    </div>
  	</div>
		<% }) %>
	</div>
</div>
