<h4>Share Data</h4>
The private link for this file is:<br><br>

<ul id="myTab" class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" href="#links" data-toggle="tab">Link to share</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#wget" data-toggle="tab">wget command</a>
	</li>
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane active in" id="links">
		<textarea class="form-control" id="message" rows="3"><%= hostname %>/share/results/<%= output.attr('hash') %>/<%= output.attr('name') %></textarea>
	</div>
	<div class="tab-pane" id="wget">
		<textarea class="form-control" id="message" rows="3">wget <%= hostname %>/share/results/<%= output.attr('hash') %>/<%= output.attr('name') %></textarea>
	</div>
</div>
