<h2>Applications</h2>

<p>This page helps you to install applications and to manage permissions.</p>
<br>
<p>
	<div class="btn-group">
		<button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-download"></i> Install App
		    </button>
		    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
		      <a class="dropdown-item" href="#!pages/admin-apps-repository" id="install-app-cloudgene-io-btn"><i class="fas fa-database"></i> from apps.cloudgene.io...</a>
		      <a class="dropdown-item" id="install-app-github-btn"><i class="fab fa-github"></i> from GitHub...</a>
					<a class="dropdown-item" id="install-app-url-btn"><i class="fas fa-globe"></i> from URL...</a>
		    </div>
	</div>
	&nbsp;<span class="btn btn-secondary" id="reload-apps-btn"><i class="fas fa-sync-alt"></i> Reload Apps from filesystem</span>
</p>
<br>

<div class="container"  id="application-repository">
	<div class="row">
		<% applications.each(function( app ) { %>
		<div class="col-md-4">
			<div class="card mb-4 box-shadow <%= app.attr('errorMessage') ? '.' : (app.attr('enabled') ? '.': '') %>" <%= (div) -> can.data(div, 'application', app) %>>
				<div class="card-body">
					<small class="text-muted"><%= app.attr('id') %></small>
					<% if (!app.attr('errorMessage')) { %>
						<h5 class=" text-truncate"><a class="view-source-btn"><%= app.attr('wdlApp').attr('name') %></a>&nbsp;<small><%= app.attr('wdlApp').attr('version') %></small></h5>
					<% }else { %>
						<h5 class="card-title" >Syntax Error</h5>
					<% } %>
					<div style="height: 150px; display: block; " >
						<% if (app.attr('changed')) { %>
							<small class="text-danger">Warning: File <b><%= app.attr('filename') %></b> changed on disk. Reload Apps to solve this issue.</small>
						<% } %>
						<% if (app.attr('errorMessage')) { %>
							<small class="text-danger"><%= app.attr('errorMessage') %></small>
						<% } else { %>
						<p class="card-text"><%== app.attr('wdlApp').attr('description').length > 200 ? app.attr('wdlApp').attr('description').substring(0,200)+'...' : app.attr('wdlApp').attr('description') %><br>
							<small><a href="<%= app.attr('wdlApp').attr('website') %>" target="_blank"><%= app.attr('wdlApp').attr('website') %></a></small>
						</p>
					<% } %>
					</div>
					<div>
					</div>
					<div class="d-flex justify-content-between align-items-center">
						<div>
						</div>
						<div class="btn-group">
							<button type="button" class="edit-permission-btn btn btn-sm btn-outline-secondary"><i class="fas fa-user"></i> <%= app.attr('permission') %></button>
            	<button type="button" class="delete-app-btn btn btn-sm btn-outline-secondary"><i class="fas fa-trash-alt"></i> Uninstall</button>
							<% if (app.attr('enabled')) { %>
								<button type="button" class="enable-disable-btn btn btn-sm btn-success"><i class="fas fa-pause"></i> Disable</button>
							<% } else { %>
								<button type="button" class="enable-disable-btn btn btn-sm btn-danger"><i class="fas fa-play"></i> Enable</button>
							<% } %>
						</div>
						<!--<a class="edit-permission-btn"><span class="text-muted"><i class="far fa-user"></i> <%= app.attr('permission') %></span></a>-->
						</div>
						<!--
						<div>
							<% if(app.attr('wdlApp')) { %>
								<% if(app.attr('wdlApp').attr('workflow')) { %>
									&nbsp;&nbsp;<i class="fas fa-tag"></i> Application
								<% } else { %>
									&nbsp;&nbsp;<i class="fas fa-tag"></i> <%= app.attr('wdlApp').attr('category') %>
								<% } %>
							<% } %><br>
						</div>
					-->
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</div>
<br>
<br>
<br>
