<br><p><a href="#!pages/jobs">Jobs</a> / <%= job.attr('id') %></p><hr>

	<h2><%= job.attr('id') != job.attr('name') ? job.attr('name') : job.attr('id') %></h2>
<br>
<% if( job.attr('public')){ %>
	<div class="alert alert-info">Please bookmark this page to monitor your job and to download your results!
	</div>
<% } %>

<div class="tabbable">

<ul class="nav nav-tabs">

	<% if( !results ){  %>
		<li class="active">
		<% } else { %>
		<li>
		<% } %>

		<a href="#!jobs/<%= job.attr('id') %>">
			Details
		</a>
	</li>

	<% if( job.attr('state') != '7' ){ %>

		<% if(results ){  %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>

			<a href="#!jobs/<%= job.attr('id') %>/results">
				Results
			</a>
		</li>

	<% } %>

</ul>

<table class="table table-bordered">

	<tr>
		<td style="width: 150px;">
			<b>Submitted On:</b>
		</td>
		<td><%= prettyDate(job.attr('submittedOn')) %></td>
	</tr>
	<tr>
		<td>
			<b>Completed On:</b>
		</td>
		<td><%= prettyDate(job.attr('finishedOn')) %></td>
	</tr>
	<tr>
		<td>
			<b>Setup Time:</b>
		</td>
		<td><%= prettyTime(job.attr('setupStartTime'), job.attr('setupEndTime'), job.attr('currentTime')); %></td>
	</tr>
	<tr>
		<td>
			<b>Execution Time:</b>
		</td>
		<td>
			<%= prettyTime(job.attr('startTime'), job.attr('endTime'), job.attr('currentTime')); %></td>
	</tr>
	<tr>
		<td>
			<b>State:</b>
		</td>
		<td>

			<% if( job.attr('state') == '-1' ){ %>
				<span class="label label-inverse" style="width: 50px">Pending</span>
			<% } %>

			<% if( job.attr('state') == '1' ){ %>
				<% if( job.attr('setupRunning')){ %>
				<span class="label" style="width: 50px">Setup</span>
				<% } else { %>
				<span class="label" style="width: 50px">Waiting</span>
				<% } %>
			<% } %>
			<% if( job.attr('state') == '2' ){ %>
				<span class="label label-info" style="width: 50px">Running</span>
			<% } %>
			<% if( job.attr('state') == '3' ){ %>
				<span class="label label-info" style="width: 50px">Running</span>
			<% } %>
			<% if( job.attr('state') == '4'  || job.attr('state') == '8'){ %>
				<span class="label label-success" style="width: 50px">Success</span>
			<% } %>
			<% if( job.attr('state') == '5' ){ %>
				<span class="label label-important" style="width: 50px">Failed</span>
			<% } %>
			<% if( job.attr('state') == '6' ){ %>
				<span class="label label-important" style="width: 50px">Canceled</span>
			<% } %>
			<% if( job.attr('state') == '7' ){ %>
				<span class="label label-inverse" style="width: 50px">Retired</span>
			<% } %>
			<% if( job.attr('state') == '1' && job.attr('positionInQueue') != -1){ %>
				<small> &nbsp; queue position <b><%= job.attr('positionInQueue') + 1 %></b> <%== job.attr('positionInQueue')+1 > 70 ? '<span class="icon-warning-sign"  style="color:#FFA500;" title="server under heavy load"></span>' : '' %></small>
			<% } %>
		</td>
	</tr>
	<% if( job.attr('logs') ){ %>
		<tr>
			<td>
				<b>Logs:</b>
			</td>
			<td>
				<a href="<%= job.attr('logs')  %>">View</td>
			</tr>
		<% } %>

		<tr>
			<td>
				<b>Application:</b>
			</td>
			<td><%= job.attr('application') %></td>
		</tr>

		<tr>
			<td>
				<b>Actions:</b>
			</td>
			<td>

				<div class="btn-group">
					<% if( job.attr('state') == '-1' && admin){ %>
						<button class="btn" id="btn-restart">Restart</button>
					<% } %>
					<% if( job.attr('state') <= '3' && job.attr('state') != '-1'){ %>
						<button class="btn" id="btn-cancel">Cancel</button>
					<% } %>
					<% if( job.attr('state') > '3' ){ %>
						<button class="btn" id="btn-delete">Delete</button>
					<% } %>
				</div>

			</td>

		</tr>

	</table>

	<div class="tab-content">

		<% if( job.attr('state') == '-1'){ %>
			<p><br></p>
			<p>
				<i>This job is pending. We will start your job as soon as possible!</i>
			</p>
		<% } %>

		<% if( !results ){  %>
			<div class="tab-pane active" id="tab1">

				<% if( job.attr('state') == '7' ){ %>
					<p>
						<i>This job is older than 3 days and is retired. All results are deleted.</i>
					</p>
				<% } %>

				<p><br></p>

				<table id="table-steps" class="table table-bordered" style="opacity: <%=  job.attr('state') == '7' ? '0.5' : '1.0' %>;">

					<tbody>
						<% job.attr('steps').each(function( step ) { %>
							<tr>
								<td colspan="2">
									<b><%==step.attr('name') %></b>
								</td>
							</tr>
							<% step.attr('logMessages').each(function( log ) { %>

								<tr >
									<td style="width: 40px;text-align:center;">

										<% if( log.attr('type') == '0' ){ %>
											<span class="label label-success" style="width: 20px">
												<i class="icon-ok icon-white"></i>
											</span>
										<% } %>
										<% if( log.attr('type') == '1' ){ %>
											<span class="label label-important" style="width: 20px">
												<i class="icon-remove icon-white"></i>
											</span>
										<% } %>
										<% if( log.attr('type') == '2' ){ %>
											<span class="label label-warning" style="width: 20px">
												<i class="icon-eye-open icon-white"></i>
											</span>
										<% } %>
										<% if( log.attr('type') == '3' && job.attr('state') != 6){ %>
											<img src="assets/img/jobs/running.gif"/>
										<% } %>
										<% if( log.attr('type') == '3' && job.attr('state') == 6){ %>
											<span class="label label-important" style="width: 20px">
												<i class="icon-remove icon-white"></i>
											</span>
										<% } %>
									</td>
									<td><%==log.attr('message').replace(/\n/g, "<br>") %></td>
								</tr>
							<% }) %>
						<% }) %>

					</tbody>
				</table>

			</div>

		<% } %>

		<% if( job.attr('state') != '7' ){ %>

			<% if( results ){  %>

				<p><br></p>

				<% job.attr('outputParams').each(function( param ) { %>
					<% if (param.attr('files').length > 0){ %>
						<table class="table table-bordered">
							<tbody>
								<tr <%= (tr) -> can.data(tr, 'files', param.attr('files')) %>>
									<td colspan="2">
										<b><%=param.attr('description') %></b>
									</td>
									<td><span class="share-folder icon-share" style="cursor: pointer;" title="Share All Data..."></span></td>
								</tr>

								<% param.attr('files').each(function( output ) { %>

									<tr <%= (tr) -> can.data(tr, 'output', output) %>>
										<td>
											<a href="results/<%=output.attr('path') %>" target="_blank"><%=output.attr('name') %></a>

											<% if( output.attr('name').endsWith('png') ){ %>

												<p>
													<img src="results/<%=output.attr('path') %>"/>
												</p>
											<% } %>

										</td>
										<td style="width: 100px;text-align:right;"><%=output.attr('size') %></td>
										<td style="width: 16px;text-align:center;">
											<span class="share-file icon-share-alt" style="cursor: pointer;" title="Share Data..."></span>
										</td>
									</tr>

								<% }) %>
							</tbody>
						</table>
					<% } %>
				<% }) %>

			</div>
		<% } %>
	<% } %>
</div>
