
<div class="d-flex justify-content-between align-items-center">
	<div>
		<h2><%= job.attr('id') != job.attr('name') ? job.attr('name') : job.attr('id') %></h2>
		<small class="text-muted"><i class="far fa-clock"></i> <%= prettyDate(job.attr('submittedOn')) %>&nbsp;&nbsp;<i class="far fa-hourglass"></i> <%= prettyTime(job.attr('setupStartTime') + job.attr('startTime'), job.attr('setupEndTime') + job.attr('endTime'), job.attr('currentTime')); %>&nbsp;&nbsp;<i class="far fa-user"></i> username&nbsp;&nbsp;<i class="fas fa-tag"></i> <%= job.attr('application')%></small>
	</div>
	<div>
		<%== can.view.render('views/components/status-button.ejs', {job: job, buttonId: job.attr('id')}) %>
		<div class="dropdown-menu" aria-labelledby="<%=  job.attr('id') %>">
			<% if( admin){ %>
					<% if( job.attr('state') == '-1'){ %>
						<a id="restart-btn" class="dropdown-item" style="cursor:pointer">Restart</a>
					<% } %>
				<a class="dropdown-item" href="/logs/<%= job.attr('id') %>" target="_blank">Logs</a>
				<div class="dropdown-divider"></div>
			<% } %>
			<% if( job.attr('state') <= '3' && job.attr('state') != '-1'){ %>
				<a id="cancel-btn" class="dropdown-item" style="cursor:pointer">Cancel.</a>
			<% } %>
			<% if( job.attr('state') > '3'){ %>
				<a id="delete-btn" class="dropdown-item" style="cursor:pointer">Delete</a>
			<% } %>
		</div>
	</div>
</div>

<br>
<br>
<% if( job.attr('public')){ %>
	<div class="alert alert-info">Please bookmark this page to monitor your job and to download your results!
	</div>
<% } %>

<div class="tabbable">

<ul class="nav nav-tabs">

	<li class="nav-item">
		<a class="nav-link <%= !results ? 'active': '' %>" href="#!jobs/<%= job.attr('id') %>">
			Details
		</a>
	</li>

	<% if( job.attr('state') != '7' ){ %>

		<li class="nav-item">
			<a class="nav-link <%= results ? 'active': '' %>" href="#!jobs/<%= job.attr('id') %>/results">
				Results
			</a>
		</li>

	<% } %>

</ul>


	<div class="tab-content">

		<% if( job.attr('state') == '-1'){ %>
			<p><br></p>
			<p>
				<i>This job is pending. We will start your job as soon as possible!</i>
			</p>
		<% } %>

		<% if( !results ){  %>
			<div class="tab-pane active" id="tab1">

				<% if( job.attr('state') == '7' ){ %>
					<p>
						<i>This job is older than 3 days and is retired. All results are deleted.</i>
					</p>
				<% } %>

				<p><br></p>


						<% job.attr('steps').each(function( step ) { %>

							<h3><%==step.attr('name') %></h3>
							<% step.attr('logMessages').each(function( log ) { %>
										<% if( log.attr('type') == '0' ){ %>
											<div class="card mb-12 job-success my-2">
												<div class="card-body">
											<%==log.attr('message').replace(/\n/g, "<br>") %>
												</div>
											</div>

										<% } %>
										<% if( log.attr('type') == '1' ){ %>
											<div class="card mb-12 job-danger my-2">
												<div class="card-body">
											<%==log.attr('message').replace(/\n/g, "<br>") %>
												</div>
											</div>
										<% } %>
										<% if( log.attr('type') == '2' ){ %>
											<div class="card mb-12 job-warning my-2">
												<div class="card-body">
											<%==log.attr('message').replace(/\n/g, "<br>") %>
												</div>
											</div>
										<% } %>
										<% if( log.attr('type') == '3' && job.attr('state') != 6){ %>
											<div class="card mb-12 job-primary my-2">
												<div class="card-body">
											<%==log.attr('message').replace(/\n/g, "<br>") %>
												</div>
											</div>
										<% } %>
										<% if( log.attr('type') == '3' && job.attr('state') == 6){ %>
											<div class="card mb-12 job-danger my-2">
												<div class="card-body">
											<%==log.attr('message').replace(/\n/g, "<br>") %>
												</div>
											</div>
										<% } %>
									</div>
							<% }) %>
<br>
						<% }) %>



			</div>

		<% } %>

		<% if( job.attr('state') != '7' ){ %>

			<% if( results ){  %>

				<p><br></p>

				<% job.attr('outputParams').each(function( param ) { %>
					<% if (param.attr('files').length > 0){ %>
						<table class="table table-bordered">
							<tbody>
								<tr <%= (tr) -> can.data(tr, 'files', param.attr('files')) %>>
									<td colspan="2">
										<b><%=param.attr('description') %></b>
									</td>
									<td><span class="share-folder-btn fas fa-share-square" style="cursor: pointer;" title="Share All Data..."></span></td>
								</tr>

								<% param.attr('files').each(function( output ) { %>

									<tr <%= (tr) -> can.data(tr, 'output', output) %>>
										<td>
											<a href="results/<%=output.attr('path') %>" target="_blank"><%=output.attr('name') %></a>

											<% if( output.attr('name').endsWith('png') ){ %>

												<p>
													<img src="results/<%=output.attr('path') %>"/>
												</p>
											<% } %>

										</td>
										<td style="width: 100px;text-align:right;"><%=output.attr('size') %></td>
										<td style="width: 16px;text-align:center;">
											<span class="share-file-btn fas fa-share" style="cursor: pointer;" title="Share Data..."></span>
										</td>
									</tr>

								<% }) %>
							</tbody>
						</table>
					<% } %>
				<% }) %>

			</div>
		<% } %>
	<% } %>
</div>
