<h2>Jobs</h2>

<p>
	This page lists all submitted jobs.<br>
	<br>
</p>

<table class="table" id="job-list">
	<thead>
		<tr>
			<th scope="col" style="width: 20px;"></th>
			<th scope="col" style="width: 250px;">Job</th>
			<th scope="col">Name</th>
			<th scope="col" style="width: 150px;">Time Running</th>
			<th scope="col" style="width: 100px"></th>
		</tr>
	</thead>
	<tbody>
		<% jobs.each(function( job ) { %>

			<tr <%= (tr) -> can.data(tr, 'job', job) %>>

				<td style="width: 20px;text-align:center;">
					<% if( job.attr('state') == '1' && job.attr('positionInQueue') != -1){ %>
						<span class="badge"><%= job.attr('positionInQueue') + 1%></span>
					<% } %>
				</td>

				<td>
					<a href="#!jobs/<%= job.attr('id') %>"><%= job.attr('id') %></a>
				</td>

				<td>
					<%= job.attr('name') != job.attr('id') ? job.attr('name') : '' %></a>
				</td>

				<td>
					<%= prettyTime(job.attr('setupStartTime') + job.attr('startTime'), job.attr('setupEndTime') + job.attr('endTime'), job.attr('currentTime')); %>
				</td>

				<td>
					<%== can.view.render('views/components/status-button.ejs', {job: job, buttonId: job.attr('id')}) %>

					<div class="dropdown-menu" aria-labelledby="<%=  job.attr('id') %>">
						<% if( job.attr('state') <= '3' && job.attr('state') != '-1'){ %>
							<a class="cancel-btn dropdown-item" style="cursor:pointer">Cancel...</a>
						<% } %>
					<% if( job.attr('state') > '3' || job.attr('state') == '-1'){ %>
						<a class="delete-btn dropdown-item" style="cursor:pointer">Delete...</a>
					<% } %>
				</div>
				</td>

			</tr>
		<% }) %>
	</tbody>
</table>

<%== can.view.render('views/components/pagination.ejs', { total: total, page: parseInt(page), perPage: perPage, link: "#!pages/jobs"}) %>


<div class="modal hide" id="delete-dialog">
	<div class="modal-body">
		<p>Are you sure you want delete this job?</p>
	</div>
	<div class="modal-footer">
		<button class="btn">Cancel</button>
		<button class="btn btn-primary">Delete</button>
	</div>
</div>
