<h2>Jobs</h2>

<p>
	This page lists all submitted jobs.<br>
	<br>
</p>

<table class="table table-striped table-bordered" id="job-list">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th  style="width: 250px;">Job</th>
			<th>Name</th>
			<th style="width: 150px;">Time Running</th>
			<th style="width: 16px;"></th>
		</tr>
	</thead>
	<tbody>
		<% jobs.each(function( job ) { %>

			<tr <%= (tr) -> can.data(tr, 'job', job) %>>

				<td style="width: 80px;text-align:center;">

					<% if( job.attr('state') == '-1' ){ %>
						<span class="label label-inverse" style="width: 50px">Pending</span>
					<% } %>

					<% if( job.attr('state') == '1' ){ %>
						<% if( job.attr('setupRunning')){ %>
						<span class="label" style="width: 50px">Setup</span>
						<% } else { %>
						<span class="label" style="width: 50px">Waiting</span>
						<% } %>
					<% } %>

					<% if( job.attr('state') == '2' ){ %>
						<span class="label label-info" style="width: 50px">Running</span>
					<% } %>
					<% if( job.attr('state') == '3' ){ %>
						<span class="label label-info" style="width: 50px">Running</span>
					<% } %>
					<% if( job.attr('state') == '4' ){ %>
						<span class="label label-success" style="width: 50px">Success</span>
					<% } %>
					<% if( job.attr('state') == '5' ){ %>
						<span class="label label-important" style="width: 50px">Failed</span>
					<% } %>
					<% if( job.attr('state') == '6' ){ %>
						<span class="label label-important" style="width: 50px">Canceled</span>
					<% } %>
					<% if( job.attr('state') == '7' ){ %>
						<span class="label label-inverse" style="width: 50px">Retired</span>
					<% } %>
					<% if( job.attr('state') == '8' ){ %>
						<span class="label label-success" style="width: 50px">Success</span>
					<% } %>
					<% if( job.attr('state') == '9' ){ %>
						<span class="label label-important" style="width: 50px">Failed</span>
					<% } %>
				</td>

				<td style="width: 20px;text-align:center;">
					<% if( job.attr('state') == '1' && job.attr('positionInQueue') != -1){ %>
						<span class="badge"><%= job.attr('positionInQueue') + 1%></span>
					<% } %>
				</td>

				<td>
					<a href="#!jobs/<%= job.attr('id') %>"><%= job.attr('id') %></a>
				</td>

				<td>
					<%= job.attr('name') != job.attr('id') ? job.attr('name') : '' %></a>
				</td>

				<td>
					<%= prettyTime(job.attr('setupStartTime') + job.attr('startTime'), job.attr('setupEndTime') + job.attr('endTime'), job.attr('currentTime')); %>				</td>
				<td>
					<% if( job.attr('state') <= '3' && job.attr('state') != '-1'){ %>
						<span class="icon-remove" style="cursor: pointer;"></span>
					<% } %>
					<% if( job.attr('state') > '3' || job.attr('state') == '-1'){ %>
						<span class="icon-trash" style="cursor: pointer;"></span>
					<% } %>
				</td>

			</tr>
		<% }) %>
	</tbody>
</table>

<%== can.view.render('views/components/pagination.ejs', { total: total, page: parseInt(page), perPage: perPage, link: "#!pages/jobs"}) %>


<div class="modal hide" id="delete-dialog">
	<div class="modal-body">
		<p>Are you sure you want delete this job?</p>
	</div>
	<div class="modal-footer">
		<button class="btn">Cancel</button>
		<button class="btn btn-primary">Delete</button>
	</div>
</div>
