
<p class="pull-right">
<%if (jobs.attr('running') > 0) {%><b><%= jobs.attr('running') %></b> jobs are <b>running</b>.<% } %>
<%if (jobs.attr('waiting') > 0) {%><b><%= jobs.attr('waiting') %></b> jobs are <b>waiting</b>.<% } %>
<%if (jobs.attr('success') > 0) {%><b><%= jobs.attr('success') %></b> jobs are <b>succeeded</b>.<% } %>
<%if (jobs.attr('failed') > 0) {%><b><%= jobs.attr('failed') %></b> jobs are <b>failed</b>.<% } %>
<%if (jobs.attr('pending') > 0) {%><b><%= jobs.attr('pending') %></b> jobs are <b>pending</b>.<% } %>
<%if (jobs.attr('canceld') > 0) {%><b><%= jobs.attr('canceld') %></b> jobs are <b>canceld</b>.<% } %>
</p>

<table class="table table-striped table-bordered">
<thead>
	<tr>
		<th style="width: 40px;"><small>Priority</small></th>
		<th>Job</th>
		<th style="width: 100px;">Username</th>
		<th style="width: 150px;">Time Running</th>
		<th style="width: 180px;">Valid Until</th>
		<th style="width: 80px;">Size</th>
		<th style="width: 100px;"></th>
	</tr>
</thead>
<tbody>
	<% jobs.each(function( job ) { %>

		<tr <%= (tr) -> can.data(tr, 'job', job) %>>

			<td style="width: 40px;text-align:center;">
				<% if( job.attr('state') == '1' ){ %>
					<small><%= job.attr('priority') %>
							<span class="priority-btn icon-arrow-up" style="cursor: pointer;"></span>
					</small>
				<%  } %>
			</td>


			<td>
				<a href="#!jobs/<%= job.attr('id') %>"><%= job.attr('id') %></a><br>
				<%= job.attr('application') %>
			</td>

			<td>
				<%= job.attr('user.username') %>
			</td>

			<td>
				<% if( job.attr('state') != '6' ){ %>
					<%= prettyTime(job.attr('setupStartTime') + job.attr('startTime'), job.attr('setupEndTime') + job.attr('endTime'), job.attr('currentTime')); %>
				<% } %>
			</td>

			<td>
				<% if( job.attr('state') == '8' ){ %>
					<%= prettyDate(job.attr('deletedOn')) %>
				<% } else if( job.attr('state') == '9' ){ %>
					<%= prettyDate(job.attr('deletedOn')) %>
				<% } %>
			</td>

			<td>
				 <%= job.attr('workspaceSize') ? job.attr('workspaceSize') : '-' %>
			</td>

			<td>

				<div class="dropdown">
					<%== statusButton({job: job, buttonId: job.attr('id')}) %>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<% if( job.attr('state') > '3' || job.attr('state') == '-1'){ %>
							<a class="reset-downloads-btn dropdown-item" style="cursor:pointer">Reset download counters</a>
						<% } %>
						<% if( job.attr('state') != '8' && job.attr('state') != '9'){ %>
							<a class="retire-btn dropdown-item" style="cursor:pointer">Send retire notification</a>
						<% } %>
						<% if( job.attr('state') == '8' || job.attr('state') == '9'){ %>
							<a class="change-retire-date-btn dropdown-item" style="cursor:pointer">Increase retire date</a>
						<% } %>
						<a class="dropdown-item" href="/logs/<%= job.attr('id') %>" target="_blank">Logs</a>
						<div class="dropdown-divider"></div>
						<% if( job.attr('state') <= '3' && job.attr('state') != '-1'){ %>
								<a class="delete-btn dropdown-item" style="cursor:pointer">Cancel...</a>
						<% } %>
						<% if( job.attr('state') == '4' || job.attr('state') != '5' || job.attr('state') != '6'){ %>
							<a class="archive-btn dropdown-item" style="cursor:pointer">Retire job now...</a>
						<% }%>
						<% if( job.attr('state') > '3' || job.attr('state') == '-1'){ %>
							<a class="delete-btn dropdown-item" style="cursor:pointer">Delete...</a>
						<% } %>
					</div>
				</div>

			</td>


		</tr>
	<% }) %>
</tbody>
</table>
