<h2>Server</h2>

<p>
	This page shows server states and provides administrative tasks.<br>
	<br>
</p>

<h4>Status</h4>

<table class="table table-bordered">

	<tr>
		<td style="width: 150px;">
			<b>Version:</b>
		</td>
		<td>
			<%= cluster.attr('version') %>
			(built by
			<%=	cluster.attr('built_by') %>
			on
			<%= cluster.attr('built_time') %>)
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Mode:</b>
		</td>
		<td>
			<% if (cluster.attr('maintenance')) { %>
				<span class="label label-important">Maintenance Mode</span>
			<% } else { %>
				<span class="label label-success">Running</span>
			<% } %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Queue:</b>
		</td>
		<td>
			<% if (cluster.attr('blocked')) { %>
				<span class="label label-important">Blocked</span>
			<% } else { %>
				<span class="label label-success">Running</span>
			<% } %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Threads Setup Queue:</b>
		</td>
		<td>
			<%= cluster.attr('threads_setup') %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Threads Processing Queue:</b>
		</td>
		<td>
			<%= cluster.attr('threads') %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Max Jobs per User:</b>
		</td>
		<td><%= cluster.attr('max_jobs_user') %></td>
	</tr>

</table>

<hr>

<h4>Server</h4>

<table class="table table-bordered">

	<tr>
		<td style="width: 150px;">
			<b>Disk Usage:</b>
		</td>
		<td>
			<div class="progress progress-info" style="width: 150px;">
				<div class="bar" style="width: <%== ((cluster.attr('total_disc_space') - cluster.attr('free_disc_space')) / cluster.attr('total_disc_space') * 100) %>%"></div>
			</div><%== cluster.attr('total_disc_space') - cluster.attr('free_disc_space') %>
			GB used,
			<b><%== cluster.attr('free_disc_space') %>
				GB free</b>
		</td>

	</tr>

</table>

<hr>

<h4>Hadoop</h4>
<% if (cluster.attr('hadoop_enabled')) { %>
<table class="table table-bordered">

	<tr>
		<td style="width: 150px;">
			<b>Mode:</b>
		</td>
		<td>
			<% if (cluster.attr('hadoop_safemode')) { %>
				<span class="label label-important">SAFEMODE!</span>
			<% } else { %>
				<span class="label label-success">Running</span>
			<% } %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Details:</b>
		</td>
		<td>
			<pre><%== cluster.attr('hadoop_details') %></pre>
		</td>
	</tr>
</table>
<% } else { %>
	<div class="alert alert-error" id="success-message">
	    <%== cluster.attr('hadoop_error') %>
	</div>
<% }%>

<hr>

<h4>Technologies</h4>
<% if (cluster.attr('r_enabled')) { %>
	<div class="alert alert-success" id="success-message">
		<%== cluster.attr('r_details') %></pre>
	</div>
</table>
<% } else { %>
	<div class="alert alert-error" id="success-message">
    <%== cluster.attr('r_error') %>
	</div>
<% }%>
<% if (cluster.attr('rmarkdown_enabled')) { %>
	<div class="alert alert-success" id="success-message">
		<%== cluster.attr('rmarkdown_details') %>
	</div>
<% } else { %>
	<div class="alert alert-error" id="success-message">
	  	<%== cluster.attr('rmarkdown_error') %>
	</div>
<% }%>
<% if (cluster.attr('docker_enabled')) { %>
	<div class="alert alert-success" id="success-message">
		<%== cluster.attr('docker_details') %>
	</div>
<% } else { %>
	<div class="alert alert-error" id="success-message">
	  	<%== cluster.attr('docker_error') %>
	</div>
<% }%>

<hr>

<h4>Database Connection Pool</h4>

<table class="table table-bordered">

	<tr>
		<td style="width: 150px;">
			<b>Active </b><br><i>Number of instances currently borrowed from this pool.</i>
		</td>
		<td>
			<%=  cluster.attr('db_active') %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Max active:</b>
		</td>
		<td>
			<%=  cluster.attr('db_max_active') %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Idle:</b><br><i>Number of instances currently idle in this pool.</i>
		</td>
		<td>
			<%=  cluster.attr('db_idle') %>
		</td>
	</tr>

	<tr>
		<td style="width: 150px;">
			<b>Max idle:</b>
		</td>
		<td>
			<%=  cluster.attr('db_max_idle') %>
		</td>
	</tr>

</table>

<hr>

<h4>Maintenance Mode</h4>
<p>Maintenance mode is for preventing any users other than administrators from submitting jobs. The front page will appear as normal when your site is in maintenance mode. Users will only see the maintenance mode message when they attempt to submit a job.</p>
<p>
	<i>Note: You can create a customized maintenance mode message by change the MAINTENANCE_MESSAGE variable (see Settings).</i>
</p>
<br>
<p>
	<span class="btn btn-danger" id ="maintenance-enter-btn">Enter Maintenance Mode</span>
	<span class="btn btn-success" id="maintenance-exit-btn">Exit Maintenance Mode</span>
</p>

<hr>

<h4>Queue</h4>
<p>Blocks the queue. All running jobs are executed and all other jobs are waiting until the queue is manually opened.</p>
<br>
<p>
	<span class="btn btn-danger" id ="queue-block-btn">Block Queue</span>
	<span class="btn btn-success" id ="queue-open-btn">Open Queue</span>
</p>

<hr>

<h4>Auto Retire</h4>
<p>Retires old jobs and send notifications.</p>
<br>
<p>
	<span class="btn btn-primary" id="retire-btn">Start Retire</span>
</p>
