<h2>Settings</h2>

This page enables to customize your Cloudgene installation and to connect it with your Hadoop cluster.

<hr>

<form class="form-horizontal" id="settings-form">

	<h4>General</h4>

	<div class="control-group">
		<label for="loginUsername" class="control-label">Service Name:</label>
		<div class="controls">
			<input name="name" type="text" data-required="true" value="<%= settings.attr('name') %>">
		</div>
	</div>

	<hr>


	<h4>Configure SMTP</h4>

	<p>Customize the SMTP mailing system used by Cloudgene to handle outgoing e-mails.
	</p>

	<div class="control-group">
		<label for="loginUsername" class="control-label">Server:</label>
		<div class="controls">
			<input name="mail-smtp" type="text" data-required="true" value="<%= settings.attr('mail-smtp') %>">
		</div>
	</div>

	<div class="control-group">
		<label for="loginUsername" class="control-label">Port:</label>
		<div class="controls">
			<input name="mail-port" type="text" data-required="true" value="<%= settings.attr('mail-port') %>">
		</div>
	</div>

	<div class="control-group">
		<label for="loginUsername" class="control-label">User:</label>
		<div class="controls">
			<input name="mail-user" type="text" data-required="true" value="<%= settings.attr('mail-user') %>">
		</div>
	</div>

	<div class="control-group">
		<label for="loginUsername" class="control-label">Password:</label>
		<div class="controls">
			<input name="mail-password" type="password" data-required="true" value="<%= settings.attr('mail-password') %>">
		</div>
	</div>

	<div class="control-group">
		<label for="loginUsername" class="control-label">Sender:</label>
		<div class="controls">
			<input name="mail-name" type="text" data-required="true" value="<%= settings.attr('mail-name') %>">
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button id="save" class="btn btn-primary" data-loading-text="please wait...">Save</button>

		</div>
	</div>
</form>
