<h2>Settings</h2>

This page enables to customize your Cloudgene installation and to connect it with your Hadoop cluster.

<hr>

<form class="form-horizontal" id="settings-form" autocomplete="off">

	<h4>General</h4>

	<div class="control-group">
		<label for="name" class="control-label">Service Name:</label>
		<div class="controls">
			<input id="name" name="name" type="text" data-required="true" value="<%= settings.attr('name') %>" autocomplete="off">
		</div>
	</div>

	<hr>


	<h4>Configure SMTP</h4>

	<p>Customize the SMTP mailing system used by Cloudgene to handle outgoing e-mails.
	</p>

	<div class="control-group">
		<label for="mail-smtp" class="control-label">Server:</label>
		<div class="controls">
			<input id="mail-smtp" name="mail-smtp" type="text" data-required="true" value="<%= settings.attr('mail-smtp') %>" autocomplete="off">
		</div>
	</div>

	<div class="control-group">
		<label for="mail-port" class="control-label">Port:</label>
		<div class="controls">
			<input id="mail-port" name="mail-port" type="text" data-required="true" value="<%= settings.attr('mail-port') %>" autocomplete="off">
		</div>
	</div>

	<div class="control-group">
		<label for="mail-user" class="control-label">User:</label>
		<div class="controls">
			<input id="mail-user" name="mail-user" type="text" data-required="true" value="<%= settings.attr('mail-user') %>" autocomplete="off">
		</div>
	</div>

	<div class="control-group">
		<label for="mail-password" class="control-label">Password:</label>
		<div class="controls">
			<input id="mail-password" name="mail-password" type="password" data-required="true" value="<%= settings.attr('mail-password') %>" autocomplete="off">
		</div>
	</div>

	<div class="control-group">
		<label for="mail-name" class="control-label">Sender:</label>
		<div class="controls">
			<input id="mail-name" name="mail-name" type="text" data-required="true" value="<%= settings.attr('mail-name') %>" autocomplete="off">
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button id="save" class="btn btn-primary" data-loading-text="please wait...">Save</button>

		</div>
	</div>
</form>
