<h2>Settings</h2>

This page enables to customize your Cloudgene installation.

<hr>

<form class="form-horizontal" id="settings-form">

	<h4>General</h4>

	<p>Customize your Cloudgene instance by setting a unique service name and adapating colors.</p>

	<div class="form-group">
		<label for="name" class="control-label">Service Name:</label>
		<input id="name" name="name" type="text" class="form-control col-md-4" value="<%= settings.attr('name') %>">
	</div>

	<div class="form-group">
		<label for="background-color" class="control-label">Background Color:</label>
		<input id="background-color" name="background-color" type="text" class="form-control col-md-4" value="<%= settings.attr('background-color') %>">
	</div>


	<div class="form-group">
		<label for="foreground-color" class="control-label">Foreground Color:</label>
		<input id="foreground-color" name="foreground-color" type="text" class="form-control col-md-4" value="<%= settings.attr('foreground-color') %>">
		<small class="form-text text-muted">Choose from <b>navbar-light</b> for use with light background colors, or <b>navbar-dark</b> for dark background colors.</small>
	</div>

	<div class="form-group">
		<button id="save" class="btn btn-primary" data-loading-text="please wait..."><i class="far fa-save"></i> Save changes</button>
	</div>

	<hr>


	<h4>Configure SMTP</h4>

	<p>Customize the SMTP mailing system used by Cloudgene to handle outgoing e-mails.</p>

	<div class="form-group">
		<label for="mail-smtp">Server:</label>
		<input id="mail-smtp" name="mail-smtp" type="text" class="form-control col-md-4" value="<%= settings.attr('mail-smtp') %>">
	</div>

	<div class="form-group">
		<label for="mail-port">Port:</label>
		<input id="mail-port" name="mail-port" type="text" class="form-control col-md-4" value="<%= settings.attr('mail-port') %>">
	</div>

	<div class="form-group">
		<label for="mail-user">User:</label>
		<input id="mail-user" name="mail-user" type="text" class="form-control col-md-4" value="<%= settings.attr('mail-user') %>">
	</div>

	<div class="form-group">
		<label for="mail-password">Password:</label>
		<input id="mail-password" name="mail-password" type="password" class="form-control col-md-4" value="<%= settings.attr('mail-password') %>">
	</div>

	<div class="form-group">
		<label for="mail-name">Sender:</label>
		<input id="mail-name" name="mail-name" type="text" class="form-control col-md-4" value="<%= settings.attr('mail-name') %>">
	</div>

	<div class="form-group">
		<button id="save" class="btn btn-primary" data-loading-text="please wait..."><i class="far fa-save"></i> Save changes</button>
	</div>
</form>
